* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

.container{
    background-color: rgb(235, 238, 238);
    border-radius: 7px;
    padding: 15px 15px;
    margin: 30px 50px;
    min-height: auto;
    height: 92vh;
}

.sec1{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.ToDo-container{
    width: 500px;
    background-color: white;
    padding: 15px;
    border-radius: 7px;
}

h1{
    margin-bottom: 25px;
}

h3{
    margin-bottom: 5px;
}

input, textarea{
    border-radius: 5px;
    margin-bottom: 3px;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
    padding: 10px 7px;
    font-size: 17px;
}

textarea{
    font-family: monospace;
    font-size: 12px;
}



button {
    width: 100%;
    height: 30px;
    background-color: #5098cb;
    border-style: none;
    color: white;
    font-size: 17px;
    padding: 2px 4px;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover{
    transition: 50ms;
    background-color: #2d668e;
    transition: 250ms;
}

button:active{
    transition: 250ms;
    transform: scale(0.95); 
}

.sec2{
    margin-top: 5%;
}

h2{
    margin-top: 10px;
}

.task-list{
    margin-top: 15px;
    gap: 7px;
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
}

.task{
    background-color: white;
    padding: 10px 10px;
    border-radius: 7px;
}

p{
    margin: 3px 0;
}